<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/my.css' />
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <div class="cover">
          <div class="headercnt">
            <div class="leftheader">
              <a href="#"><span>MovieTalkRoom</span></a>
            </div>
            <div class="rightheader">
              <button class="headerloginbtn">로그인</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="contentcover">
        <div class="cover">
          <div class="bgimg"></div>
        </div>
        <div class="maincover">
          <div class="maincntcover">
            <span>
              <div class="list">
                <div class="listheader">
                  <button class="listloginbtn">로그인</button>
                </div>
                <div class="listmenucv">
                  <div class="listmenu">
                    <div class="mainboard">
                      <div class="mainbdtitle">
                        홈
                      </div>
                      <a href="#">전체 게시물</a>
                    </div>
                    <a href="#">리뷰</a>
                    <a href="#">토론</a>
                    <a href="#">자유</a>
                    <a href="#">한국 영화</a>
                    <a href="#">중국 영화</a>
                    <a href="#">일본 영화</a>
                    <a href="#">미국 영화</a>
                    <a href="#">기타 외화</a>
                  </div>
                </div>
              </div>
            </span>
            <span>
              <div class="subheader">

              </div>
              <div class="content">

              </div>
            </span>
          </div>
        </div> 
      </div>  
    </div>
  </body>
</html>
