<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/login.css' />
    </head>
    <body>
        <div class="wrap">
            <div class="logo">
                <a href="http://localhost:3000/">MovieTalkRoom</a>
            </div>
            <div class="content-cover">
                <form>
                    <div class="id-box">
                        <span class="box-cover">
                            <input class="iptbox" placeholder="아이디" name="userId">
                        </span>
                    </div>
                    <div class="id-box">
                        <span class="box-cover">
                            <input class="iptbox" placeholder="비밀번호" name="userPwd">
                        </span>
                    </div>
                    <div class="login-cover">
                        <span>
                            <input type="submit" title="로그인" value="로그인" class="login-btn">
                        </span>
                    </div>
                    <div>
                        <span class="underline"></span>
                    </div>
                    <div>
                        <span>아이디 찾기</span><span class="bar">|</span><span>비밀번호 찾기</span><span class="bar">|</span>
                        <span><a href="#">회원가입</a></span>
                    </div>
                </form>
            </div>
          </div>
    </body>
</html>