<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/modifying.css' />
</head>

<body>
    <div class="wrap">
        <div class="content-cover">
            <div class="logo">
                <a href="http://localhost:3000/">MovieTalkRoom</a>
            </div>
            <div class="maincontent">
                <div class="guide">
                    회원정보 수정
                </div>
                <form>
                    <div class="sub-guide">
                        아이디
                    </div>
                    <div class="id-box">
                        <span class="box-cover">
                            <input class="iptbox" placeholder="새로운 아이디를 입력하세요" name="email">
                        </span>
                    </div>
                    <div class="sub-guide">
                        비밀번호
                    </div>
                    <div class="id-box">
                        <span class="box-cover">
                            <input class="iptbox" placeholder="새로운 비밀번호를 입력하세요" name="email">
                        </span>
                    </div>
                    <div class="sub-guide">
                        닉네임
                    </div>
                    <div class="id-box">
                        <span class="box-cover">
                            <input class="iptbox" placeholder="새로운 닉네임을 입력하세요" name="email">
                        </span>
                    </div>
                    <div class="modify-btn-cv">
                        <button class="modify-btn">회원정보 수정하기</button>
                    </div>
                </form>
                </form>
            </div>
        </div>
    </div>
</body>

</html>