<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/written.css'/>
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <div class="cover">
          <div class="headercnt">
            <div class="leftheader">
              <a href="#"><span>MovieTalkRoom</span></a>
            </div>
            <div class="rightheader">
              <button class="headerloginbtn">로그인</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="contentcover">
        <div class="cover">
          <div class="bgimg"></div>
        </div>
        <div class="maincover">
          <div class="listcv">
            <div class="list">
              <div class="listheader">
                <button class="listloginbtn">로그인</button>
              </div>
              <div class="listmenucv">
                <div class="listmenu">
                  <div class="mainboard">
                    <div class="mainbdtitle">
                      홈
                    </div>
                    <a href="#">전체 게시물</a>
                  </div>
                  <a href="#">리뷰</a>
                  <a href="#">토론</a>
                  <a href="#">자유</a>
                  <a href="#">한국 영화</a>
                  <a href="#">중국 영화</a>
                  <a href="#">일본 영화</a>
                  <a href="#">미국 영화</a>
                  <a href="#">기타 외화</a>
                </div>
              </div>
            </div>
          </div>
          <div class="subcv">
            <div class="article-header">
              <div class="article-title">
                국제시장 리뷰<em>[2]</em>
              </div>
              <div class="article-meta">
                <div class="article-meta-writer">
                  <a href="#">박태영</a>
                </div>
                <div class="aricle-meta-itemlistcv">
                  <div class="aricle-meta-itemlist">
                    <div class="article-meta-date">
                      <span>2020.4.20</span>
                    </div>
                    <div class="article-meta-viewcnt">
                      <span>조회 1000</span>
                    </div>
                    <div class="article-meta-vote">
                      <span>△</span>
                      <span>25</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="article-content">
              <p>
                매우 재미있었다
              </p>
            </div>
            <div class="article-box">
              <div id="postvote">
                <div class="article-vote">
                  <table class="article-vote-list">
                    <tr>
                      <td class="article-vote-upbtn">
                        <button>
                          <span>△ 추천</span>
                          <span class="vote-cnt">30</span>
                        </button>
                      </td>
                      <td class="article-vote-downbtn">
                        <button>
                          <span>▽ 비추천</span>
                          <span class="vote-cnt">5</span>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>  
    </div>
  </body>
</html>
