<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/write.css' />
    <script type="text/javascript">
    </script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="cover">
                <div class="headercnt">
                    <div class="leftheader">
                        <a href="http://localhost:3000/"><span>MovieTalkRoom</span></a>
                    </div>
                    <div class="rightheader">
                        <button class="headerloginbtn" onclick="location.href='//localhost:3000/login'">로그인</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentcover">
            <div class="bgimg">
            </div>
            <div class="maincover">
                <div class="listcv">
                    <div class="list">
                        <div class="listheader">
                            <button class="listloginbtn" onclick="location.href='//localhost:3000/login'">로그인</button>
                        </div>
                        <div class="listmenucv">
                            <div class="listmenu">
                                <div class="mainboard">
                                    <div class="mainbdtitle">
                                        홈
                                    </div>
                                    <a href="#">전체 게시물</a>
                                </div>
                                <a id="reviewbd">리뷰</a>
                                <a href="#">토론</a>
                                <a href="#">자유</a>
                                <a href="#">한국 영화</a>
                                <a href="#">중국 영화</a>
                                <a href="#">일본 영화</a>
                                <a href="#">미국 영화</a>
                                <a href="#">기타 외화</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subcv">
                    <form>
                        <div class="title-column-cv">
                            <div class="title-column">
                                <span class="title-text">제목</span>
                                <span class="title-textbox"><input class="title-input"></span>
                                <span>
                                    <select class="type-selectbox">
                                        <option selected>게시판 분류</option>
                                        <option>리뷰</option>
                                        <option>토론</option>
                                        <option>자유</option>
                                        <option>한국 영화</option>
                                        <option>중국 영화</option>
                                        <option>일본 영화</option>
                                        <option>미국 영화</option>
                                        <option>기타 외화</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="writing-menu">
                            <button class="picture-btn">사진</button>
                        </div>
                        <div class="content-column">
                            <textarea class="content-textbox" placeholder="내용을 입력하세요" cols="30"></textarea>
                        </div>
                        <div class="registration">
                            <table class="registration-fix">
                                <tr>
                                    <td><a class="r-btn">등록</a></td>
                                    <td><a class="r-btn">리셋</a></td>
                                    <td><a class="r-btn">목록</a></td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>