<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/written.css'/>
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <div class="cover">
          <div class="headercnt">
            <div class="leftheader">
              <a href="#"><span>MovieTalkRoom</span></a>
            </div>
            <div class="rightheader">
              <button class="headerloginbtn">로그인</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="contentcover">
        <div class="cover">
          <div class="bgimg"></div>
        </div>
        <div class="maincover">
          <div class="listcv">
            <div class="list">
              <div class="listheader">
                <button class="listloginbtn">로그인</button>
              </div>
              <div class="listmenucv">
                <div class="listmenu">
                  <div class="mainboard">
                    <div class="mainbdtitle">
                      홈
                    </div>
                    <a href="#">전체 게시물</a>
                  </div>
                  <a href="#">리뷰</a>
                  <a href="#">토론</a>
                  <a href="#">자유</a>
                  <a href="#">한국 영화</a>
                  <a href="#">중국 영화</a>
                  <a href="#">일본 영화</a>
                  <a href="#">미국 영화</a>
                  <a href="#">기타 외화</a>
                </div>
              </div>
            </div>
          </div>
          <div class="subcv">
            <div class="article-header">
              <div class="article-title">
                국제시장 리뷰<em class="article-title-em">[2]</em>
              </div>
              <div class="article-meta">
                <div class="article-meta-writer">
                  <a href="#">박태영</a>
                </div>
                <div class="aricle-meta-itemlistcv">
                  <div class="aricle-meta-itemlist">
                    <div class="article-meta-date">
                      <span>2020.4.02</span>
                    </div>
                    <div class="article-meta-viewcnt">
                      <span>1000</span>
                      <span> 읽음</span>
                    </div>
                    <div class="article-meta-vote">
                      <span>추천:</span>
                      <span>25</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="article-content">
              <p>
                매우 재미있었다
              </p>
            </div>
            <div class="article-box">
              <div id="postvote">
                <div class="article-vote">
                  <table class="article-vote-list">
                    <tr>
                      <td class="article-vote-upbtn">
                        <button>
                          <span>추천</span>
                          <span class="vote-cnt">30</span>
                        </button>
                      </td>
                      <td class="article-vote-downbtn">
                        <button>
                          <span>비추천</span>
                          <span class="vote-cnt">5</span>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="reply-header">
              댓글이<span class="reply-cnt">2</span>개 있습니다.
            </div>
            <div class="reply-cv">
              <div class="reply">
                <div class="reply-writer">
                  <a href="#">김마둠</a>
                </div>
                <div class="comment">
                  <p>리뷰 재밌게 잘봤어요</p>
                </div>
                <div class="comment-sub">
                  <span class="comment-date">2020.04.09</span>
                  <span class="comment-reply">
                    <button class="comment-reply-btn">답글</button>
                  </span>
                </div>
              </div>
            </div>
            <div class="reg-comment-reply">
              <table>
                <tr>
                  <td>
                    <textarea cols="30" placeholder="내용을 입력하세요" class="reg-comment-content"></textarea>
                  </td>
                  <td>
                    <button class="reg-btn">등록</button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="reg-comment">
              <table>
                <tr>
                  <td>
                    <textarea cols="30" placeholder="내용을 입력하세요" class="reg-comment-content"></textarea>
                  </td>
                  <td>
                    <button class="reg-btn">등록</button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="subheader">
              <div class="sbhdinfo">
                <h2 class="sbhdtitle">
                  <a href="#">전체 게시물</a>
                </h2>
              </div>
              <div class="submenu">
                <ul class="submnlink">
                  <li><span><a href>조회순</a></span></li>
                  <li><span><a href>추천순</a></span></li>
                  <li><span><a href>댓글순</a></span></li>
                  </li>
                </ul>
                <div class="sbhdsearch">
                  <form action="movies">
                    <label style="padding: 0;">
                      <select name="target" class="selectsearch">
                        <option value="title">제목</option>
                        <option value="user_id">작성자</option>
                      </select>
                    </label>
                    <input type="text" name="search" class="inputsearch" placeholder="검색">
                  </form>
                </div>
              </div>
            </div>
            <section class="articlelist">
              <article class="article-list-item">
                <div class="article-list-bdname">
                  리뷰
                </div>
                <div class="article-list-cnt">
                  <div class="article-list-titlecv">
                    <a href="#">
                      <div class="article-list-title">
                        <span>국제시장 리뷰</span>
                        <em>[2]</em>
                      </div>
                    </a>  
                  </div>
                  <div class="writer">
                    <a href="#">박태영</a>
                  </div>
                  <div class="article-list-date">
                    <span>2020.04.02</span>
                  </div>
                  <div class="article-list-vote">
                    <span>△</span>
                    <span>25</span>
                  </div>
                </div>
              </article>
              <section class="article-list-paging">
                <div class="article-list-pagingcnt">
                  <table class="article-list-paginglist">
                    <tr>
                      <td class="paging-writingbtn"><a href="#" class="a-btn">글쓰기</a></td>
                      <td class="paging-void"></td>
                      <td class="paging-listbtn"><a href="#" class="a-btn">다음 >></a></td>
                    </tr>
                  </table>
                </div>
              </section>
            </section>
          </div>
        </div> 
      </div>  
    </div>
  </body>
</html>
