html body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #dddfe4;
}
select {
    outline: none;
}
input {
    outline: none;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    border-radius: 4px;
    border: 1px solid #dddfe4;
    cursor: pointer;
    outline: none;
}
.wrap {
    width: 100%;
    text-align: center;
}
.header {
    width: 100%;
    height: 56px;
    z-index: 10000;
    background-color: skyblue;
    position: fixed;
}
.cover{
    display: inline-block;
    text-align: center;
}
.headercnt {
    width: 1050px;
}
.leftheader {
    float: left;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    line-height: 19px;
    margin-top: 19px;
}
.rightheader {
    float: right;
}
.headerloginbtn {
    border-color: #fff;
    background-color: transparent;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 7px;
    width: 80px;
    color: #fff;
    margin-top: 12px;
}
.headerloginbtn:hover {
    opacity: 0.7;
}
.contentcover {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.bgimg {
    display: inline-block;
    width: 100%;
    height: 240px;
    background-color: darkcyan;
    margin-top: 6px;
}
.maincover {
    display: inline-block;
    width: 1050px;
    margin-top: -40px;
}
.listcv {
    margin-right: 15px;
    float: left;
}
.subcv {
    float: left;
}
.list {
    width: 300px;
    border: 0;
    background-color: #fff;
}
.listheader {
    padding: 16px;
}
.listloginbtn {
    width: 265px;
    height: 40px;
    background-color: darkolivegreen;
    font-size: 14px;
    color: #fff;
}
.listloginbtn:hover {
    opacity: 0.7;
}
.listmenucv {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.listmenu {
    text-align: left;
    width: 260px;
}
.listmenu a {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
}
.listmenu a:hover {
    background-color: #fafafa;
    border-radius: 4px;
}
.listmenu a:active {
    color: #46cfa7;
    background-color: #fafafa;
    border-radius: 4px;
}
.mainboard {
    border-top: 0.5px solid #dddfe4;
    border-bottom: 0.5px solid #dddfe4;
}
.mainbdtitle {
    font-size: 11px;
    opacity: 0.5;
    margin-top: 5px;
    margin-bottom: 5px;
}
.subheader {
    width: 730px;
    margin-bottom: 10px;
    background-color: #fff;
}
.sbhdinfo {
    padding-top: 18px;
    padding-bottom: 17px;
    text-align: left;
}
.sbhdtitle {
    margin: 0;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 700;
}
.submenu {
    text-align: left;
}
.submnlink {
    display: inline-block;
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
}
li a {
    font-size: 14px;
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-right: 20px;
}
li a:hover {
    background-color: #dddfe4;
    border-radius: 4px;
}
li :active {
    background-color: #fafafa;
    border-radius: 4px;
}
.sbhdsearch {
    display: inline-block;
    background-color:#ebeef1;
    border-radius: 4px;
    border: 0.5px solid #dddfe4;
    padding-left: 1px;
    padding-right: 1px;

}
.selectsearch {
    height: 36px;
    width: 130px;
    margin-top: 1px;
    padding-left: 12px;
    font-size: 14px;
    color: #A4A4A4;
    vertical-align: baseline;
    border: 0;
    box-sizing: border-box;
}
.inputsearch {
    background-color:#ebeef1;
    height: 35px;
    border: 0;
    font-size: 14px;
    margin: 0;
    width: 160px;
    padding-right: 50px;
    padding-left: 16px;
}
.articlelist {
    width: 730px;
    background-color: #fff;
}
.article-list-item {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    border-bottom: 0.5px solid #ebeef1;
}
.article-list-bdname {
    display: inline-block;
    width: 70px;
    height: 30px;
    padding-left: 12px;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
}
.article-list-cnt {
    display: inline-table;
    width: 600px;
    vertical-align: 0.1px;
}
.article-list-titlecv {
    display: table-cell;
    text-align: left;
    width: 380px;
    font-size: 13px;
}
.article-list-title {
    margin-left: 15px;
}
.article-list-title em {
    color: teal;
    vertical-align: 1px;
}
.writer {
    display: table-cell;
    color: #98a0a7;
    width: 90px;
    font-size: 12px;
    text-align: center;
    margin-right: 10px;
}
.article-list-date {
    display: table-cell;
    color: #98a0a7;
    width: 90px;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
}
.article-list-vote {
    display: table-cell;
    color: #98a0a7;
    font-size: 14;
    width: 60px;
    text-align: left;
}
.article-hover :hover {
    background-color: #fafafa;
}
.article-list-paging {
    background-color: #f8f9fa;
}
.article-list-pagingcnt {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
}
.article-list-paginglist {
}
.paging-writingbtn {
    width: 150px;
    text-align: left;
}
.paging-listbtn {
    width: 75px;
    text-align: right;
}
.paging-void {
    width: 400px;
}
.a-btn {
    background-color: #fff;
    text-align: center;
    padding: 7px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #dddfe4;
    border-radius: 4px;
    cursor: pointer;
}
.a-btn-p {
    background-color: #fff;
    text-align: center;
    padding: 7px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #dddfe4;
    border-radius: 4px;
    cursor: pointer;
}
.title-column-cv {
    background-color: #fff;
    width: 728px;
    border: 1px solid #ebeef1;
}
.title-column {
    text-align: left;
}
.title-text {
    display: inline-block;
    width: 89px;
    height: 27px;
    font-size: 18px;
    padding: 10px;
    background-color: #F2F2F2;
}
.title-input {
    margin: 0;
    padding: 0;
    font-size: 15px;
    outline: none;
    border: 0;
    height: 44px;
    width: 500px;
    vertical-align: middle;
}
.type-selectbox {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 15px;
    width: 109px;
    height: 47px;
}
.content-column {
    border: 1px solid #ebeef1;
    text-align: left;
    background-color: #fff;
}
.content-textbox {
    resize: vertical;
    font-size: 16px;
    width: 704px;
    height: 400px;
    outline: none;
    border: 0;
    padding: 10px;
}
.writing-menu {
    height: 30px;
    border-left: 1px solid #ebeef1;
    border-right: 1px solid #ebeef1;
    text-align: left;
}
.picture-btn {
    padding: 0;
    margin: 0;
    width: 60px;
    height: 30px;
    font-size: 14px;
}
.registration {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 7px;
    background-color: #f8f9fa;
}
.registration-fix {
    display: inline-block;
}
.r-btn {
    background-color: #fff;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 60px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #dddfe4;
    border-radius: 4px;
    cursor: pointer;
}