html body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #dddfe4;
}
select {
    outline: none;
}
input {
    outline: none;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: inherit; 
    cursor: pointer;
}
button {
    border-radius: 4px;
    border: 1px solid #dddfe4;
    cursor: pointer;
    outline: none;
}
.wrap {
    width: 100%;
    text-align: center;
}
.header {
    width: 100%;
    height: 56px;
    z-index: 10000;
    background-color: skyblue;
    position: fixed;
}
.cover{
    display: inline-block;
    text-align: center;
}
.headercnt {
    width: 1050px;
}
.leftheader {
    float: left;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    line-height: 19px;
    margin-top: 19px;
}
.rightheader {
    float: right;
}
.headerloginbtn {
    border-color: #fff;
    background-color: transparent;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 7px;
    width: 80px;
    color: #fff;
    margin-top: 12px;
}
.headerloginbtn:hover {
    opacity: 0.7;
}
.contentcover {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.bgimg {
    display: inline-block;
    width: 100%;
    height: 240px;
    background-color: darkcyan;
    margin-top: 6px;
}
.maincover {
    display: inline-block;
    width: 1050px;
    margin-top: -40px;
}
.listcv {
    margin-right: 15px;
    float: left;
}
.subcv {
    float: left;
}
.list {
    width: 300px;
    border: 0;
    background-color: #fff;
}
.listheader {
    padding: 16px;
}
.listloginbtn {
    width: 265px;
    height: 40px;
    background-color: darkolivegreen;
    font-size: 14px;
    color: #fff;
}
.listloginbtn:hover {
    opacity: 0.7;
}
.listmenucv {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.listmenu {
    text-align: left;
    width: 260px;
}
.listmenu a {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
}
.listmenu a:hover {
    background-color: #fafafa;
    border-radius: 4px;
}
.listmenu a:active {
    color: #46cfa7;
    background-color: #fafafa;
    border-radius: 4px;
}
.mainboard {
    border-top: 0.5px solid #dddfe4;
    border-bottom: 0.5px solid #dddfe4;
}
.mainbdtitle {
    font-size: 11px;
    opacity: 0.5;
    margin-top: 5px;
    margin-bottom: 5px;
}
.subheader {
    width: 730px;
    margin-bottom: 10px;
    background-color: #fff;
}
.sbhdinfo {
    padding-top: 18px;
    padding-bottom: 17px;
    text-align: left;
}
.sbhdtitle {
    margin: 0;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 700;
}
.submenu {
    text-align: left;
}
.submnlink {
    display: inline-block;
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
}
li a {
    font-size: 14px;
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-right: 20px;
}
li a:hover {
    background-color: #dddfe4;
    border-radius: 4px;
}
li :active {
    background-color: #fafafa;
    border-radius: 4px;
}
.sbhdsearch {
    display: inline-block;
    background-color:#ebeef1;
    border-radius: 4px;
    border: 0.5px solid #dddfe4;
    padding-left: 1px;
    padding-right: 1px;

}
.selectsearch {
    height: 36px;
    width: 130px;
    margin-top: 1px;
    padding-left: 12px;
    font-size: 14px;
    color: #A4A4A4;
    vertical-align: baseline;
    border: 0;
    box-sizing: border-box;
}
.inputsearch {
    background-color:#ebeef1;
    height: 35px;
    border: 0;
    font-size: 14px;
    margin: 0;
    width: 160px;
    padding-right: 50px;
    padding-left: 16px;
}
.articlelist {
    width: 730px;
    background-color: #fff;
}
.article-list-item {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    border-bottom: 0.5px solid #ebeef1;
}
.article-list-bdname {
    display: inline-block;
    width: 70px;
    height: 30px;
    padding-left: 12px;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
}
.article-list-cnt {
    display: inline-table;
    width: 600px;
    vertical-align: 0.1px;
}
.article-list-titlecv {
    display: table-cell;
    text-align: left;
    width: 380px;
    font-size: 13px;
}
.article-list-title {
    margin-left: 15px;
}
.article-list-title em {
    color: teal;
    vertical-align: 1px;
}
.writer {
    display: table-cell;
    color: #98a0a7;
    width: 90px;
    font-size: 12px;
    text-align: center;
    margin-right: 10px;
}
.article-list-date {
    display: table-cell;
    color: #98a0a7;
    width: 90px;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
}
.article-list-vote {
    display: table-cell;
    color: #98a0a7;
    font-size: 14;
    width: 60px;
    text-align: left;
}
.article-hover :hover {
    background-color: #fafafa;
}
.article-list-paging {
    background-color: #f8f9fa;
}
.article-list-pagingcnt {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
}
.article-list-paginglist {
}
.paging-writingbtn {
    width: 150px;
    text-align: left;
}
.paging-listbtn {
    width: 75px;
    text-align: right;
}
.paging-void {
    width: 400px;
}
.a-btn {
    background-color: #fff;
    text-align: center;
    padding: 7px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #dddfe4;
    border-radius: 4px;
    cursor: pointer;
}
.headerlogoutbtn {
    border-color: #fff;
    background-color: transparent;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 7px;
    width: 80px;
    color: #fff;
    margin-top: 12px;
    display: none;
}
.headerlogoutbtn:hover {
    opacity: 0.7;
}
.user_info {
    font-size: 14px;
    display: none;
}
.user_nick {
    font-weight: 550;
    font-size: 15px;
}
.listlogoutbtn {
    font-size: 15px;
    float: right;
}
.logoutbtn {
    border: 0;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    background-color: darkolivegreen;
}
.logoutbtn:hover {
    opacity: 0.7;
}
.user_modifying {
    border-radius: 4px;
    font-weight: 500;
    float: right;
    text-align: right;
}
.user_word {
    border-radius: 4px;
    font-weight: 500;
    float: left;
}
.user_word:hover {
    background-color: #fafafa;
    border-radius: 4px;
}
.user_modifying:hover {
    background-color: #fafafa;
    border-radius: 4px;
}
.info_wrap {
    text-align: left;
    margin-top: 2px;
}
.usermenu_wrap {
    margin-top: 18px;
}
.article-header {
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-top: 16px;
    background-color: #fff;
    border-bottom: 1px solid #ebeef1;
}
.article-title {
    text-align: left;
    font-size: 24px;
    width: 714px;
}
.article-meta {
    width: 714px;
    height: 24px;
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
}
.article-title-em {
    font-size: 20px;
    vertical-align: 3.5px;
    margin-left: 5px;
    color: teal;
}
.aricle-meta-itemlistcv {
    display: inline-block;
}
.article-meta-itemlist {
    display: inline-table;
    width: 300px;
}
.article-meta-writer {
    padding-left: 10px;
    color: #98a0a7;
    text-align: left;
    width: 450px;
    display: inline-block;
    font-size: 16px;
}
.article-meta-date {
    display: table-cell;
    color: #98a0a7;
    text-align: center;
    width: 80px;
    border-right: 0.5px solid #98a0a7;
}
.article-meta-viewcnt {
    display: table-cell;
    color: #98a0a7;
    text-align: center;
    border-right: 0.5px solid #98a0a7;
    width: 80px;
}
.article-meta-vote {
    display: table-cell;
    color: #98a0a7;
    text-align: center;
    width: 80px;
}
.article-content {
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff;
    border-bottom: 1px solid #ebeef1;
    text-align: left;
}
.article-content p {
    margin-bottom: 10px;
    margin-top : 10px;
}
.article-box {
    text-align: center;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.article-vote-list {
    display: inline-block;
}
td button {
    background-color: #fff;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    border-radius: 4px;
    width: 100px;
    height: 40px;
}
.vote-cnt {
    margin-left: 5px;
    margin-right: 5px;
}
.article-vote-upbtn :hover {
    background-color: #A9F5D0;
}
.article-vote-downbtn :hover {
    background-color: #F5A9BC;
}
.reply-header {
    background-color: #fff;
    padding: 16px;
    height: 30px;
    text-align: left;
    border-bottom: 1px solid #ebeef1;
}
.reply-cnt {
    color: red;
    margin-left: 5px;
}
.reply {
    background-color: #fff;
    padding: 12px;
    text-align: left;
}
.reply-writer {
    margin-left: 10px;
    font-weight: 700;
    color: #045FB4;
}
.comment {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 5px;
}
.comment-sub {
    height: 20px;
    margin-left: 30px;
    font-size: 12px;
}
.comment-date {
    color: #98a0a7;
}
.comment-reply {
    margin-left: 5px;
}
.reply-cv :hover {
    background-color: #fafafa;
}
.reply-cv {
    border-bottom: 1px solid #ebeef1;
}
.reg-comment {
    padding: 12px;
    background-color: #fff;
    margin-bottom: 30px;
}
.reg-btn {
    background-color: #fff;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    width: 100px;
    height: 80px;
    margin-left: 14px;
}
p {
    margin: 0;
}
.reg-comment-content {
    width: 575px;
    font-size: 14px;
    height: 80px;
    resize: none;
}
.reg-btn:hover {
    border-color: #01DFD7;
}
.reg-comment-reply {
    display: none;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #fff;
}
.comment-reply-btn {
    padding: 0;
    color: #FE642E;
    border: 0;
    font-size: 12px;
    background-color: transparent;
}
.in-reply {
    border-top: 1px solid #ebeef1;
}
.in-reply-mark {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
}
.reg-comment-reply :hover {
    background-color: #fff;
}